.nav-tab {
  float: left;
  width: 100%;
  margin: 0;
  background-color: #f1f1f1;
  padding-left: 0;
  list-style-type: none;
  border: none;
}

.nav:hover {
  background-color: #f1f1f1;
}

.nav-tab > li {
  float: left;
  margin-bottom: -1px;
}

.nav-tab > li > a {
  margin-right: 2px;
  line-height: 1.5;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  text-decoration: none;
}

.nav-tab > li > a:hover {
  border-color: #eee #eee #ddd;
}

.nav-tab > li.active > a,
.nav-tab > li.active > a:hover,
.nav-tab > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: transparent;
}

.tab-content .tab-pane {
  float: left;
  width: 100%;
  display: none;
}

.tab-content > .tab-pane.active {
  display: block;
  padding: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 4px -2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 4px -2px rgba(0, 0, 0, 0.15);
}

div.ui-toggle {
  margin: 0;
  padding: 0;
}

div.ui-toggle input[type="checkbox"] {
  display: none;
}

div.ui-toggle input[type="checkbox"]:checked + label {
  border-color: #427CDC;
  background: #427CDC;
  -webkit-box-shadow: inset 0 0 0 10px #427CDC;
  box-shadow: inset 0 0 0 10px #427CDC;
}

div.ui-toggle input[type="checkbox"]:checked + label > div {
  margin-left: 20px;
}

div.ui-toggle label {
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  display: inline-block;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #374140;
  -webkit-box-shadow: inset 0 0 0 0 #427CDC;
  box-shadow: inset 0 0 0 0 #427CDC;
  border: 2px solid #374140;
  border-radius: 22px;
  width: 40px;
  height: 20px;
}

div.ui-toggle label div {
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  background: #FFFFFF;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

div.ui-toggle label:hover,
div.ui-toggle label > div:hover {
  cursor: pointer;
}
